from dataclasses import dataclass

class LogisticsAppError(Exception):
    """Base exception for the Application Layer."""
    pass

@dataclass
class EntityNotFoundError(LogisticsAppError):
    entity_id: str
    entity_type: str
    
    def __post_init__(self):
        super().__init__(f"{self.entity_type} with ID {self.entity_id} not found.")