from typing import Literal
from pydantic import Field
from pydantic_settings import BaseSettings, SettingsConfigDict


class {{ root_package | pascal }}Config(BaseSettings):
    """
    Configuration for the '{{ root_package }}' module.
    """
    # Dynamic context name!
    CONTEXT_NAME: str = "{{ root_package }}"
    LOG_LEVEL: Literal["DEBUG", "INFO", "WARNING", "ERROR", "CRITICAL"] = Field(default="INFO")

    model_config = SettingsConfigDict(
        env_prefix="{{ root_package | upper }}_", 
        env_file=".env", 
        extra="ignore"
    )


def get_config() -> {{ root_package | pascal }}Config:
    return {{ root_package | pascal }}Config()