from dataclasses import dataclass
from ..use_cases.match_orders_use_case import MatchOrdersUseCase

@dataclass(frozen=True, kw_only=True, slots=True)
class OnOrderCreatedHandler:
    """
    Reacts to domain events (e.g., Order Created).
    """
    match_orders_uc: MatchOrdersUseCase

    def handle(self, event: dict) -> None:
        # Example logic: when order is created, try to find a courier immediately
        # In real world: This might be async via RabbitMQ/Kafka consumer
        print(f"Handler: Reacting to order created: {event}")
        self.match_orders_uc.execute()