from dataclasses import dataclass


@dataclass(frozen=True, slots=True, kw_only=True)
class AddressVo:
    """Composite Value Object for location."""
    city: str
    street: str
    building: str
    zip_code: str