from dataclasses import dataclass

from .primitives import MoneyAmount, WeightGrams


@dataclass(frozen=True, slots=True, kw_only=True)
class LineItemVo:
    """Item inside an order."""
    name: str
    price: MoneyAmount
    weight: WeightGrams
    quantity: int

    @property
    def total_weight(self) -> WeightGrams:
        return WeightGrams(self.weight * self.quantity)
    
    @property
    def total_price(self) -> MoneyAmount:
        return MoneyAmount(self.price * self.quantity)