from dataclasses import dataclass

from .primitives import WeightGrams


@dataclass(frozen=True, slots=True, kw_only=True)
class VehicleVo:
    """Vehicle specifications."""
    plate_number: str
    model: str
    capacity: WeightGrams