import uuid
from dataclasses import dataclass
from decimal import Decimal
from typing import Optional
from faker import Faker

fake = Faker()

@dataclass
class AddressMock:
    id: uuid.UUID
    country: str
    country_code: str
    state: str
    city: str
    street_address: str
    zip_code: str
    latitude: Decimal
    longitude: Decimal
    timezone: str

def generate_random_address(**overrides) -> AddressMock:
    """
    Generates a full geographic location.
    """
    # Generate coordinates as Decimals for precision
    lat = Decimal(str(fake.latitude()))
    lng = Decimal(str(fake.longitude()))
    
    defaults = {
        "id": uuid.uuid4(),
        "country": fake.country(),
        "country_code": fake.country_code(),
        "state": fake.state(),
        "city": fake.city(),
        "street_address": fake.street_address(),
        "zip_code": fake.postcode(),
        "latitude": lat,
        "longitude": lng,
        "timezone": fake.timezone()
    }
    
    data = {**defaults, **overrides}
    return AddressMock(**data)