from ..entities import OrderEnt, CourierEntity


class AssignmentPolicy:
    """
    Stateless Domain Service.
    Validates if a courier is capable of handling an order.
    """
    
    def can_transport(self, order: OrderEnt, courier: CourierEntity) -> bool:
        order_weight = order.total_weight
        vehicle_capacity = courier.vehicle.capacity

        # Since Primitives are Decimals, comparison works natively
        return order_weight <= vehicle_capacity