from ..aggregates.delivery_aggregate import Delivery
from ..value_objects import MoneyAmount


class PricingService:
    """
    Calculates the financial aspect of the delivery.
    """
    
    def calculate_cost(self, delivery: Delivery, base_fee: MoneyAmount) -> MoneyAmount:
        
        items_total = delivery.order.total_price
        
        # Native Decimal math
        total = items_total + base_fee
        
        return MoneyAmount(total)