from dataclasses import dataclass
from uuid import uuid4

from ..interfaces import ILogisticsRepository
from ...domain import OrderEnt, OrderId, AddressVo, OrderStatus


@dataclass(frozen=True, kw_only=True, slots=True)
class CreateOrderUseCase:
    repo: ILogisticsRepository

    def execute(self, city: str, street: str, building: str) -> OrderId:
        """
        Creates a new empty order.
        """
        order_id = OrderId(uuid4())
        
        address = AddressVo(
            city=city, 
            street=street, 
            building=building, 
            zip_code="00000" # Simplified
        )
        
        order = OrderEnt(
            id=order_id, 
            address=address, 
            status=OrderStatus.ASSEMBLING
        )
        
        self.repo.save_order(order)
        return order_id