from dataclasses import dataclass
from uuid import UUID

from ..use_cases import (
    CreateOrderUseCase, 
    AddOrderItemUseCase, 
    AssembleOrderUseCase, 
    MatchOrdersUseCase
)
from ...domain import OrderId

@dataclass(frozen=True, kw_only=True, slots=True)
class FulfillmentWorkflow:
    """
    Orchestrator for the "Order to Delivery" lifecycle.
    Demonstrates how to compose Use Cases.
    """
    create_uc: CreateOrderUseCase
    add_item_uc: AddOrderItemUseCase
    assemble_uc: AssembleOrderUseCase
    match_uc: MatchOrdersUseCase

    def run_full_cycle(self, city: str, street: str, items: list[dict]) -> OrderId:
        # 1. Create
        order_id = self.create_uc.execute(city, street, "1")
        
        # 2. Populate
        for item in items:
            self.add_item_uc.execute(
                order_id=order_id,
                item_name=item["name"],
                price=item["price"],
                weight_g=item["weight"],
                qty=item.get("qty", 1)
            )
            
        # 3. Assemble
        self.assemble_uc.execute(order_id)
        
        # 4. Try to Match (Fire and forget style)
        # In real world this might be async or triggered by scheduler
        self.match_uc.execute()
        
        return order_id