from typing import Literal
from pydantic_settings import BaseSettings, SettingsConfigDict


class RootConfig(BaseSettings):
    """
    Global application configuration.
    """
    ENV: Literal["LOCAL", "DEV", "PROD"] = "LOCAL"
    LOG_LEVEL: Literal["DEBUG", "INFO", "WARNING", "ERROR"] = "INFO"
    JSON_LOGS: bool = False

    model_config = SettingsConfigDict(
        env_file=".env",
        env_file_encoding="utf-8",
        extra="ignore"
    )


def get_root_config() -> RootConfig:
    return RootConfig()