import pytest
from {{ root_package }}.domain import (
    OrderModificationError, 
    EmptyOrderAssemblyError, 
    OrderStatus
)

def test_add_item_increases_totals(order_entity, item_iphone):
    # Act
    order_entity.add_item(item_iphone)
    
    # Assert
    assert len(order_entity.items) == 1
    assert order_entity.total_price == item_iphone.price * item_iphone.quantity
    assert order_entity.total_weight == item_iphone.weight * item_iphone.quantity

def test_cannot_add_item_to_assembled_order(order_entity, item_iphone):
    # Arrange
    order_entity.add_item(item_iphone)
    order_entity.mark_assembled()
    
    # Act & Assert
    with pytest.raises(OrderModificationError):
        order_entity.add_item(item_iphone)

def test_cannot_assemble_empty_order(order_entity):
    # Act & Assert
    with pytest.raises(EmptyOrderAssemblyError):
        order_entity.mark_assembled()

def test_assemble_order_success(order_entity, item_iphone):
    # Arrange
    order_entity.add_item(item_iphone)
    
    # Act
    order_entity.mark_assembled()
    
    # Assert
    assert order_entity.status == OrderStatus.ASSEMBLED